# Supabase
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key

# OneSignal (NEW - v2)
VITE_ONESIGNAL_APP_ID=617c000e-3cf8-4077-b083-9b4fea4018de
ONESIGNAL_REST_API_KEY=os_v2_app_mf6aadr47bahpmedtnh6uqay3ziy7ejsjkhuoqvfptmr5jpl7gn7tcpggghrajuavbspczopmapnzfi2akauan6dj55pkrd7357ktwi